<style>
.my-unique-class body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.my-unique-class * {
  margin: 0;
  box-sizing: border-box;
}

.my-unique-class :before,
.my-unique-class :after {
  box-sizing: border-box;
}

.my-unique-class .container {
  max-width: 1200px;
  margin: auto;
}

.my-unique-class .v-center {
  align-items: center;
}

.my-unique-class ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-unique-class a {
  text-decoration: none;
}

/* header */
.my-unique-class .header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 15px;
}

.my-unique-class .header .item-left {
  flex: 0 0 17%;
}

.my-unique-class .header .logo a {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.my-unique-class .header .item-center {
  flex: 0 0 66%;
}

.my-unique-class .header .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}

.my-unique-class .header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.my-unique-class .header .menu>ul>li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}

.my-unique-class .header .menu>ul>li>a {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.my-unique-class .header .menu>ul>li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 992px) {
  .my-unique-class .header .menu>ul>li.menu-item-has-children:hover .sub-menu {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
  }
}

.my-unique-class .header .menu>ul>li .sub-menu>ul>li {
  line-height: 1;
}

.my-unique-class .header .menu>ul>li .sub-menu>ul>li>a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}

.my-unique-class .header .menu>ul>li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
  line-height: 1;
  display: block;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
  font-size: 16px;
  color: #ea4636;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
  text-align: center;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
  height: 300px;
  object-fit: cover;
}

.my-unique-class .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.my-unique-class .header .menu>ul>li .sub-menu>ul>li>a:hover,
.my-unique-class .header .item-right a:hover,
.my-unique-class .header .menu>ul>li:hover>a {
  color: #ea4636;
}

/* banner section */
.my-unique-class .banner-section {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}

.my-unique-class .mobile-menu-head,
.my-unique-class .mobile-menu-trigger {
  display: none;
}

/*responsive*/
@media (max-width: 991px) {
  .my-unique-class .header .item-center {
      order: 3;
      flex: 0 0 100%;
  }

  .my-unique-class .header .item-left,
  .my-unique-class .header .item-right {
      flex: 0 0 auto;
  }

  .my-unique-class .v-center {
      justify-content: space-between;
  }

  .my-unique-class .header .mobile-menu-trigger {
      display: flex;
      height: 30px;
      width: 30px;
      margin-left: 15px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
  }

  .my-unique-class .header .mobile-menu-trigger span {
      display: block;
      height: 2px;
      background-color: #333333;
      width: 24px;
      position: relative;
  }

  .my-unique-class .header .mobile-menu-trigger span:before,
  .my-unique-class .header .mobile-menu-trigger span:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333333;
  }

  .my-unique-class .header .mobile-menu-trigger span:before {
      top: -6px;
  }

  .my-unique-class .header .mobile-menu-trigger span:after {
      top: 6px;
  }

  .my-unique-class .header .item-right {
      align-items: center;
  }

  .my-unique-class .header .menu {
      position: fixed;
      width: 320px;
      background-color: #ffffff;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      transform: translate(-100%);
      transition: all 0.5s ease;
      z-index: 1099;
  }

  .my-unique-class .header .menu.active {
      transform: translate(0%);
  }

  .my-unique-class .header .menu>ul>li {
      line-height: 1;
      margin: 0;
      display: block;
  }

  .my-unique-class .header .menu>ul>li>a {
      line-height: 50px;
      padding: 0 30px;
      font-size: 16px;
  }

  .my-unique-class .header .menu>ul>li .sub-menu {
      box-shadow: none;
      position: relative;
      background-color: transparent;
      margin-top: 0;
      padding: 0;
      opacity: 1;
      visibility: visible;
  }

  .my-unique-class .header .menu>ul>li.menu-item-has-children .sub-menu>ul>li>a {
      padding: 0 30px;
  }

  .my-unique-class .header .menu>ul>li.menu-item-has-children>.sub-menu {
      padding: 0;
  }

  .my-unique-class .header .menu>ul>li.menu-item-has-children>.sub-menu>ul {
      display: none;
  }

  .my-unique-class .header .menu>ul>li.menu-item-has-children.active>.sub-menu>ul {
      display: block;
  }

  .my-unique-class .header .menu .menu-backdrop {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1098;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .my-unique-class .header .menu.active+.menu-backdrop {
      visibility: visible;
      opacity: 1;
  }

  .my-unique-class .header .mobile-menu-head {
      display: flex;
      height: 60px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      position: relative;
      z-index: 99;
  }

  .my-unique-class .header .mobile-menu-head .go-back {
      display: none;
      cursor: pointer;
      height: 20px;
      width: 20px;
      position: relative;
  }

  .my-unique-class .header .mobile-menu-head .go-back:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      border-left: 1px solid #333333;
      border-bottom: 1px solid #333333;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
  }

  .my-unique-class .header .mobile-menu-head .current-menu-title {
      font-size: 15px;
      font-weight: 500;
      color: #333333;
  }

  .my-unique-class .header .mobile-menu-head .mobile-menu-close {
      height: 20px;
      width: 20px;
      cursor: pointer;
      position: relative;
  }

  .my-unique-class .header .mobile-menu-head .mobile-menu-close:before,
  .my-unique-class .header .mobile-menu-head .mobile-menu-close:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #333333;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
  }

  .my-unique-class .header .mobile-menu-head .mobile-menu-close:after {
      transform: translate(-50%, -50%) rotate(-45deg);
  }

  .my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4 {
      max-width: 100%;
      width: 100%;
      display: block;
  }

  .my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
      flex: 0 0 100%;
      padding: 0;
  }

  .my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
      padding: 10px 30px;
      text-align: left;
  }

  .my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title a {
      color: #ea4636;
  }

  .my-unique-class .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
      margin-top: 0;
  }
}
</style>

{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}


{% comment %}
<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {% render 'icon-caret' %}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
{% endcomment %}
<div class="my-unique-class">
    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="row v-center">

                <!-- menu start here -->
                <div class="header-item item-center">
                    <div class="menu-overlay"></div>
                    <nav class="menu">
                        <div class="mobile-menu-head">
                            <div class="go-back"><i class="fa fa-angle-left"></i></div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="menu-main">

                          
{%- for link in settings.header.links -%}
  <li class="menu-item-has-children">
    <a href="{{ link.url }}">{{ link.title }} <i class="fa fa-angle-down"></i></a>

    {%- assign child_list_handle = link.title | handleize -%} <!-- Assign handle for child list -->
    
    {%- if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 -%}
      <div class="sub-menu single-column-menu">
        <ul>
          {%- for child_link in linklists[child_list_handle].links -%}
            <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

  </li>
{%- endfor %}

                        </ul>
                    </nav>
                </div>
                <!-- menu end here -->

                <div class="header-item item-right">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="far fa-heart"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <!-- mobile menu trigger -->
                    <div class="mobile-menu-trigger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
</div>

<script>
  

 const menu = document.querySelector(".menu");
 const menuMain = menu.querySelector(".menu-main");
 const goBack = menu.querySelector(".go-back");
 const menuTrigger = document.querySelector(".mobile-menu-trigger");
 const closeMenu = menu.querySelector(".mobile-menu-close");
 let subMenu;
 menuMain.addEventListener("click", (e) =>{
 	if(!menu.classList.contains("active")){
 		return;
 	}
   if(e.target.closest(".menu-item-has-children")){
   	 const hasChildren = e.target.closest(".menu-item-has-children");
      showSubMenu(hasChildren);
   }
 });
 goBack.addEventListener("click",() =>{
 	 hideSubMenu();
 })
 menuTrigger.addEventListener("click",() =>{
 	 toggleMenu();
 })
 closeMenu.addEventListener("click",() =>{
 	 toggleMenu();
 })
 document.querySelector(".menu-overlay").addEventListener("click",() =>{
 	toggleMenu();
 })
 function toggleMenu(){
 	menu.classList.toggle("active");
 	document.querySelector(".menu-overlay").classList.toggle("active");
 }
 function showSubMenu(hasChildren){
    subMenu = hasChildren.querySelector(".sub-menu");
    subMenu.classList.add("active");
    subMenu.style.animation = "slideLeft 0.5s ease forwards";
    const menuTitle = hasChildren.querySelector("i").parentNode.childNodes[0].textContent;
    menu.querySelector(".current-menu-title").innerHTML=menuTitle;
    menu.querySelector(".mobile-menu-head").classList.add("active");
 }

 function  hideSubMenu(){  
    subMenu.style.animation = "slideRight 0.5s ease forwards";
    setTimeout(() =>{
       subMenu.classList.remove("active");	
    },300); 
    menu.querySelector(".current-menu-title").innerHTML="";
    menu.querySelector(".mobile-menu-head").classList.remove("active");
 }
 
 window.onresize = function(){
 	if(this.innerWidth >991){
 		if(menu.classList.contains("active")){
 			toggleMenu();
 		}

 	}
 }
</script>