{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}


{% comment %}
<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {% render 'icon-caret' %}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
{% endcomment %}


<div class="my-unique-class">
    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="row v-center">
                <div class="header-item item-left">
                    <div class="logo">
                        <a href="#">logo</a>
                    </div>
                </div>

                <!-- menu start here -->
                <div class="header-item item-center">
                    <div class="menu-overlay"></div>
                    <nav class="menu">
                        <div class="mobile-menu-head">
                            <div class="go-back"><i class="fa fa-angle-left"></i></div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="menu-main">
                           {%- for block in section.blocks -%}
                           {% assign handle = block.type %} {% case handle %}
                           {% when 'single_menu' %} 
                                    <li>
                                        <a href="{{ block.settings.title_2_url }}">{{ block.settings.title_2 }}</a>
                                    </li>
                           {% when 'collection_menu' %} 
                              <li class="menu-item-has-children">
                                    <a href="{{ block.settings.title_3_url }}">{{ block.settings.title_3 }} <i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu mega-menu mega-menu-column-4">
                                      {% for collection_product in block.settings.collection_list.products limit: block.settings.collection_limit  %}
                                        
                                        <div class="list-item text-center">
                                            <a href="{{ collection_product.url }}">
                                                <img src="{{ collection_product.featured_image | img_url: "master" }}" />
                                                <h4 class="title">{{ collection_product.title }}</h4>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                              {% when 'mega_menu' %} 
                               <li class="menu-item-has-children">
                                <a href="{{ block.settings.title_4_url }}">{{ block.settings.title_4 }} <i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    {%- assign child_list_handle = block.settings.megamenu -%}
                                    
                                    <!-- Initialize a counter variable to track the number of categories processed -->
                                    {%- assign counter = 0 -%}
                                    
                                    <!-- Loop through each link in the menu -->
                                    {%- for link in linklists[child_list_handle].links -%}
                                    
                                    <!-- Open a new div after every two categories -->
                                    {%- if counter == 0 or counter == 2 -%}
                                    <div class="list-item">
                                    {%- endif -%}
                                    
                                    <!-- Display the category and its child links -->
                                    <h4 class="title">{{ link.title }}</h4>
                                    <ul>
                                        {%- for child_link in link.links -%}
                                        <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                    <!-- Close the div after every two categories and reset the counter if it reaches 2 -->
                                    {%- assign counter = counter | plus: 1 -%}
                                    {%- if counter == 2 -%}
                                    </div>
                                    {%- assign counter = 0 -%}
                                    {%- endif -%}
                                    
                                    {% endfor %}
                                    
                                    <!-- Ensure any unclosed div is properly closed -->
                                    {%- if counter > 0 -%}
                                    </div>
                                    {%- endif -%}
                                    
                                    <!-- Optional Image Section -->
                                    <div class="list-item">
                                       {% for collection_product in block.settings.collection_list_2.products limit: block.settings.collection_limit_2  %}
                                       <img src="{{ collection_product.featured_image | img_url: "master" }}" />                                      
                                       {% endfor %}
                                    </div>
                                </div>
                            </li>
                            {% when 'dropdown_menu' %} 
                             <li class="menu-item-has-children">
                                    <a href="{{ block.settings.title_5_url }}">{{ block.settings.title_5 }} <i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu single-column-menu">
                                       {%- assign child_list_handle = block.settings.megamenu_2 -%}
                                       {%- for link in linklists[child_list_handle].links -%}
                                        <ul>
                                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                        </ul>
                                      {% endfor %}
                                    </div>
                                </li>

                                {% endcase %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <!-- menu end here -->

                <div class="header-item item-right">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="far fa-heart"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <!-- mobile menu trigger -->
                    <div class="mobile-menu-trigger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
</div>