{% render 'new-mega-menu-css' %}
<div class="my-unique-class">
    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="row v-center">
                <div class="header-item item-left">
                    <div class="logo">
                        <a href="#">logo</a>
                    </div>
                </div>

                <!-- menu start here -->
                <div class="header-item item-center">
                    <div class="menu-overlay"></div>
                    <nav class="menu">
                        <div class="mobile-menu-head">
                            <div class="go-back"><i class="fa fa-angle-left"></i></div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="menu-main">
                           {%- for block in section.blocks -%}
                           {% assign handle = block.type %} {% case handle %}
                           {% when 'single_menu' %} 
                                    <li>
                                        <a href="{{ block.settings.title_2_url }}">{{ block.settings.title_2 }}</a>
                                    </li>
                           {% when 'collection_menu' %} 
                              <li class="menu-item-has-children">
                                    <a href="{{ block.settings.title_3_url }}">{{ block.settings.title_3 }} <i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu mega-menu mega-menu-column-4">
                                      {% for collection_product in block.settings.collection_list.products limit: block.settings.collection_limit  %}
                                        
                                        <div class="list-item text-center">
                                            <a href="{{ collection_product.url }}">
                                                <img src="{{ collection_product.featured_image | img_url: "master" }}" />
                                                <h4 class="title">{{ collection_product.title }}</h4>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                              {% when 'mega_menu' %} 
                               <li class="menu-item-has-children">
                                <a href="{{ block.settings.title_4_url }}">{{ block.settings.title_4 }} <i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    {%- assign child_list_handle = block.settings.megamenu -%}
                                    
                                    <!-- Initialize a counter variable to track the number of categories processed -->
                                    {%- assign counter = 0 -%}
                                    
                                    <!-- Loop through each link in the menu -->
                                    {%- for link in linklists[child_list_handle].links -%}
                                    
                                    <!-- Open a new div after every two categories -->
                                    {%- if counter == 0 or counter == 2 -%}
                                    <div class="list-item">
                                    {%- endif -%}
                                    
                                    <!-- Display the category and its child links -->
                                    <h4 class="title">{{ link.title }}</h4>
                                    <ul>
                                        {%- for child_link in link.links -%}
                                        <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                    <!-- Close the div after every two categories and reset the counter if it reaches 2 -->
                                    {%- assign counter = counter | plus: 1 -%}
                                    {%- if counter == 2 -%}
                                    </div>
                                    {%- assign counter = 0 -%}
                                    {%- endif -%}
                                    
                                    {% endfor %}
                                    
                                    <!-- Ensure any unclosed div is properly closed -->
                                    {%- if counter > 0 -%}
                                    </div>
                                    {%- endif -%}
                                    
                                    <!-- Optional Image Section -->
                                    <div class="list-item">
                                       {% for collection_product in block.settings.collection_list_2.products limit: block.settings.collection_limit_2  %}
                                       <img src="{{ collection_product.featured_image | img_url: "master" }}" />                                      
                                       {% endfor %}
                                    </div>
                                </div>
                            </li>
                            {% when 'dropdown_menu' %} 
                             <li class="menu-item-has-children">
                                    <a href="{{ block.settings.title_5_url }}">{{ block.settings.title_5 }} <i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu single-column-menu">
                                       {%- assign child_list_handle = block.settings.megamenu_2 -%}
                                       {%- for link in linklists[child_list_handle].links -%}
                                        <ul>
                                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                        </ul>
                                      {% endfor %}
                                    </div>
                                </li>

                                {% endcase %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <!-- menu end here -->

                <div class="header-item item-right">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="far fa-heart"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <!-- mobile menu trigger -->
                    <div class="mobile-menu-trigger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
</div>

{% schema %}
{
  "name": "Custom New Menu",
  "tag": "section",
  "class": "custom_new_menu",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Random Text"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
      "type": "single_menu",
      "name": "Single Menu",
      "settings": [
        {
          "type": "text",
          "id": "title_2",
          "label": "Single Text"
        },
        {
          "type": "url",
          "id": "title_2_url",
          "label": "Single Text Url"
        }
      ]
    },
    {
      "type": "collection_menu",
      "name": "Collection Menu",
      "settings": [
        {
          "type": "text",
          "id": "title_3",
          "label": "Collection Text"
        },
        {
          "type": "url",
          "id": "title_3_url",
          "label": "Collection Text Url"
        },
        {
          "type": "collection",
          "id": "collection_list",
          "label": "Collection List"
        },
        {
          "type": "text",
          "id": "collection_limit",
          "label": "Collection Limit",
          "default": "1"
        }
      ]
    },
    {
      "type": "mega_menu",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "text",
          "id": "title_4",
          "label": "Megamenu Text"
        },
        {
          "type": "url",
          "id": "title_4_url",
          "label": "Megamenu Text Url"
        },
        {
          "type": "link_list",
          "id": "megamenu",
          "label": "Mega Menu"
        },
        {
          "type": "collection",
          "id": "collection_list_2",
          "label": "Collection List"
        },
        {
          "type": "text",
          "id": "collection_limit_2",
          "label": "Collection Limit",
          "default": "1"
        }
      ]
    },
    {
      "type": "dropdown_menu",
      "name": "DropDown Menu",
      "settings": [
        {
          "type": "text",
          "id": "title_5",
          "label": "DropDown Text"
        },
        {
          "type": "url",
          "id": "title_5_url",
          "label": "DropDown Text Url"
        },
        {
          "type": "link_list",
          "id": "megamenu_2",
          "label": "DropDown Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Menu",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
<script>
  

 const menu = document.querySelector(".menu");
 const menuMain = menu.querySelector(".menu-main");
 const goBack = menu.querySelector(".go-back");
 const menuTrigger = document.querySelector(".mobile-menu-trigger");
 const closeMenu = menu.querySelector(".mobile-menu-close");
 let subMenu;
 menuMain.addEventListener("click", (e) =>{
 	if(!menu.classList.contains("active")){
 		return;
 	}
   if(e.target.closest(".menu-item-has-children")){
   	 const hasChildren = e.target.closest(".menu-item-has-children");
      showSubMenu(hasChildren);
   }
 });
 goBack.addEventListener("click",() =>{
 	 hideSubMenu();
 })
 menuTrigger.addEventListener("click",() =>{
 	 toggleMenu();
 })
 closeMenu.addEventListener("click",() =>{
 	 toggleMenu();
 })
 document.querySelector(".menu-overlay").addEventListener("click",() =>{
 	toggleMenu();
 })
 function toggleMenu(){
 	menu.classList.toggle("active");
 	document.querySelector(".menu-overlay").classList.toggle("active");
 }
 function showSubMenu(hasChildren){
    subMenu = hasChildren.querySelector(".sub-menu");
    subMenu.classList.add("active");
    subMenu.style.animation = "slideLeft 0.5s ease forwards";
    const menuTitle = hasChildren.querySelector("i").parentNode.childNodes[0].textContent;
    menu.querySelector(".current-menu-title").innerHTML=menuTitle;
    menu.querySelector(".mobile-menu-head").classList.add("active");
 }

 function  hideSubMenu(){  
    subMenu.style.animation = "slideRight 0.5s ease forwards";
    setTimeout(() =>{
       subMenu.classList.remove("active");	
    },300); 
    menu.querySelector(".current-menu-title").innerHTML="";
    menu.querySelector(".mobile-menu-head").classList.remove("active");
 }
 
 window.onresize = function(){
 	if(this.innerWidth >991){
 		if(menu.classList.contains("active")){
 			toggleMenu();
 		}

 	}
 }
</script>